@charset "UTF-8";

body {
    font-family: "Noto Sans JP",sans-serif;
    margin: 0;
    min-width: 1076px;
}
.wrap {
    overflow: hidden;
}
/* home */
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
li {
    background-color: #FFFFFF;
    padding: 10px;
}
.home-wrapper {
    background: radial-gradient(#A7A9A6, #6D6F6C);
    height: 780px;
    position: relative;
}
.name-block {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.name-block img {
    left: 650px;
    width: 50%;
    position: absolute;
    top: 60px;
}
.name-content {
    width: 60%;
}
.name-content h1 {
    margin-top: 40px;
    font-size: 150px;
    overflow-wrap: break-word;
    letter-spacing: 9px;
    color: #FFFFFF;
    line-height: 150px;
    margin-bottom: 0;
}
.name-content p {
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 4px;
}

/* about */

#about {
    height: 640px;
    overflow-x: hidden;
}
.about-block {
    display: flex;
    margin-left: 100px;
    position: relative;
}
.icon {
    padding-right: 30px;
}
.about-content {
    width: 50%;
}
.about-content h2 {
    margin-top: 120px;
    font-size: 40px;
    letter-spacing: 5px;
}
.about-content p {
    letter-spacing: 4px;
}
.about-content span p{
    width: 80%;
    margin: 40px 0;
}
.pcimg {
    width: 70%;
    position: absolute;
    left: 660px;
}

/* projects */

/* twitterclone */
#projects {
    background: radial-gradient(#A7A9A6, #6D6F6C);
}
#projects h2 {
    color: #FFFFFF;
    padding: 100px 0 30px 80px;
    font-size: 40px;
    letter-spacing: 5px;
}
.twitter-content {
    display: flex;
}
.twitter-content .text-sp {
    display: none;
}
.twitterclone {
    width: 60%;
    text-align: center;
}
.twitterclone img {
    width: 80%;
    vertical-align: bottom;
}
.site-detail1 {
    width: 50%;
}
.site-detail1 h3 {
    color: #FFFFFF;
    font-size: 35px;
    letter-spacing: 4px;
}
.site-detail1 p {
    color: #FFFFFF;
    width: 90%;
    font-size: 20px;
    letter-spacing: 3px;
}
.sitelink {
    margin-top: 70px;
}
.site-detail1 a {
    text-decoration: none;
    border: 1px solid #FFFF;
    padding: 20px 35px;
    margin-right: 50px;
}
.website1 {
    color: #777976;
    background-color: #FFFF;
    letter-spacing: 3px;
}
.github1 {
    letter-spacing: 3px;
    color: #FFFF;
}

/* netflixclone */
.netflix-content {
    display: flex;
    height: 827px;
}
.netflixclone {
    width: 60%;
}
.netflixclone img {
    width: 627px;
    padding-left: 80px;
}
.site-detail2 {
    width: 50%;
    padding-top: 50px;
}
.site-detail2 h3 {
    font-size: 35px;
    letter-spacing: 4px;
}
.site-detail2 p {
    width: 90%;
    font-size: 20px;
    letter-spacing: 3px;
}
.sitelink {
    margin-top: 70px;
}
.site-detail2 a {
    text-decoration: none;
    border: 1px solid #303030;
    padding: 20px 35px;
    margin-right: 50px;
}
.website2 {
    color: #303030;
    background-color: #FFFF;
    letter-spacing: 3px;
}
.github2 {
    letter-spacing: 3px;
    color: #FFFF;
    background-color: #303030;
}

/* contacts */
.contacts {
    background-color: #2F2F2F;
    padding: 100px 0 40px 80px;
}
.contacts h3 {
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: 5px;
}
.contacts p {
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 3px;
}
.contacts img {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
}
.phone {
    display: flex;
}
.mail {
    display: flex;
}
footer {
    background-color: #656363;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}